* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.grid-container > button {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  outline: none;
}
.grid-container > .operadores {
  background-color: #313632;
}
.botao__duplo {
  grid-column: span 2;
}
.grid-container > .tela {
  grid-column: 1 / -1;
  background: #a0a0a0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.tela__numero__confirmado {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}
.tela__numero__aconfirmar {
  color: white;
  font-size: 2.5rem;
}
